/* SEARCH CSS */
.search-icon {
position: relative;
float: left;
width: 36%;
}
#search_mini_form {
margin: 13px 0;display:flex;
position: relative;
}
.temanetralid__submit {border-radius: 0 6px 6px 0;
position:relative;
top: 0;border: 1px solid #523ee8;
border-left: 0;
line-height: 0;
right: 0;
background: #523ee8;
padding: 10px 12px;
outline: none;
cursor: pointer}
.input-search {
border-top: 1px solid #e0e0e1;
border-bottom: 1px solid #e0e0e1;
padding: 0 15px;
height: 36px;
line-height: 36px;
font-size: .75rem;
width: 82%;
border-left: 0;border-right:0;
border-radius: 0;
margin: 0;
outline: none;
}
.label_all {
float: left;
margin: 13px 0;
line-height: 36px;
height: 36px;
font-style: inherit;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;
letter-spacing: 0;
text-transform: none;
background-color: #f4f4f4;
border-radius: 6px 0 0 6px;
border: 1px solid #e0e0e1;
padding: 0;
cursor: pointer;
transition: background-color .15s ease-in-out;
}
.label_all a {
line-height: 14px;
color: #505050;font-size:13px;
padding: 10px 20px;
font-weight: 600;
float: none;
display: block;
text-align: left;
}
.dropdown-content .list-label ul, .label_tw .list-label ul {
overflow: hidden;
overflow-y: auto;
max-height: 60vh;
margin: 0;
}
.label_tw:before {
content: &quot;&quot;;
display: block;
border-bottom: 6px solid #fff;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
position: absolute;
top: -6px;
left: 20px;
}
.bro {
font-size: 9px;
font-weight: 800;
line-height: 14px;
text-transform: uppercase;
display: block;
line-height: 1em;
margin-bottom:0;
color: #7c7c7d;
letter-spacing: .14em;
padding:0
}
.label_tw {
min-width: 200px;
background-color: #fff;
border-radius: 6px;
box-shadow:0 5px 25px rgba(0,0,0,.1);
padding: 25px;
transform-origin: 50% 0;
transition: all .2s ease;
position: relative;
letter-spacing: 0;
display: none;
position: absolute;
top: 100%;
max-width: 100%;
border: 0;
z-index: 1;
transition: all .3s ease-in-out 0s;
}
.label_tw .list-label li a {background-color: transparent;font: 800 12px Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;
text-decoration: none;line-height:1;
text-transform: none;margin-left:20px;
font-weight: 700;
white-space: nowrap;
padding: 10px 0}
.label_tw .list-label li a:hover {text-decoration: underline}
a.temanetralid__all_item {margin:0!important;display:inline-block}
.label_tw .list-label ul,.label_tw .list-label li {margin:0;list-style:none}
.temanetralid__icon-search {font-size:16px;color:#fff}
.temanetralid_icon_benar {font-size: 8px;
color: #4772d9;
margin-right: 5px}
.svg_i {
font-size: 5px;
color: #7c7c7d;
margin-left: 5px
}
.svg_i,.temanetralid_icon_benar,.temanetralid__icon-search{fill: currentColor;
height:0.90em}
/* Back To Top */
.backtotop{display:none;background:#fff;background-size:100%;color:#222;font-size:1.4em;width:42px;height:42px;line-height:38px;outline:0;z-index:90;bottom:45px;right:45px;position:fixed;border-radius:99em;padding:0;text-align:center;cursor:pointer;opacity:1;box-shadow:0 1px 3px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.13);transition:all .25s}.backtotop svg{width:22px;height:22px;transform:rotate(90deg);vertical-align:middle;transition:all .25s}.backtotop:hover{box-shadow:0 4px 8px rgba(0,0,0,0.1),0 4px 8px rgba(0,0,0,0.13)}.Night .backtotop{background:#33475c}.Night .backtotop:hover{background:#3d556e} 
/* BATLE FIGHT WRAPPER */
.container-QW{font-family:Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;width:100%;max-width:1000px;margin:0 auto;padding:0}
#hero-vvv{background:linear-gradient(to bottom right,hsla(0,0%,95.7%,.92),hsla(0,0%,95.7%,.92)),url(&#39;data:image/svg+xml;charset=utf-8,<svg height='480' width='480' xmlns='http://www.w3.org/2000/svg'><path d='M69.2 63.2L0 69.3V25.8L18.5 0h46.7l4 63.2z' fill='%23A6A6A6'/><path d='M165.8 20.6l30 110.6L275.2 7.9 165.8 20.6z' fill='%23ADADAD'/><path d='M480 25.8v44.8l-32.2 2.6L480 25.8zm0 112.6v17l-88.2-40.2 56-42 32.2 65.2z' fill='%23A6A6A6'/><path d='M405.2 211.2l10.6 108.7-79.3 10 68.7-118.7zM480 169v18.9l-64.2 132 17.4-118.7L480 169zm0 151.5v46.8l-64.2-47.4 64.2.6zm-186.2 37.4l62.7 64.7-74 6.6 11.3-71.3zm-174-101.3l100.7 90 73.3 11.3-174-101.3zm-50.6 67.3l17.3-59.3 29.3 126-46.6-66.7zm0 0l-4 94L0 367.3v-46.8l69.2 3.4zm114.6 143.3L65.2 417.9l50.6-27.3 68 76.6zM65.2 417.9V480H18.5l46.7-62.1z' fill='%23ADADAD'/><path d='M12.5 159.9L0 155.4v-17l12.5 21.5z' fill='%23A6A6A6'/><path d='M12.5 159.9L0 187.9V169l12.5-9.1z' fill='%23ADADAD'/><path d='M308.5 164.6l28 165.3-68.7-126 40.7-39.3zm96.7 46.6l28-10-17.4 118.7-10.6-108.7zM220.5 346.6l62 82.6 11.3-71.3-73.3-11.3z' fill='%23A6A6A6'/><path d='M282.5 429.2l-6.3 50.8h-74.9l81.2-50.8zM69.2 323.9l46.6 66.7-50.6 27.3 4-94zm-56.7-164l56.7 164-4-79.3-52.7-84.7zM276.2 0l-1 7.9-109.4 12.7L201.3 0h74.9z' fill='%23A6A6A6'/><path d='M86.5 264.6l33.3-8-4 134-29.3-126z' fill='%23A6A6A6'/><path d='M293.8 357.9l122-38-59.3 102.7-62.7-64.7z' fill='%23B8BEBE'/><path d='M441.8 429.2l-85.3-6.6 59.3-102.7 26 109.3z' fill='%23F4F4F4'/><path d='M480 367.3v58.2l-38.2 3.7-26-109.3 64.2 47.4z' fill='%23DCDCE2'/><path d='M480 425.5V480h-53.3l15.1-50.8 38.2-3.7z' fill='%23BEC3C3'/><path d='M441.8 429.2L426.7 480h-57.5l-12.7-57.4 85.3 6.6z' fill='%23DCDCE2'/><path d='M369.2 480h-84.1l71.4-57.4 12.7 57.4z' fill='%23BEC3C3'/><path d='M356.5 422.6L285.1 480h-8.9l6.3-50.8 74-6.6zm-74 6.6L201.3 480h-35.9l18.4-12.8 98.7-38z' fill='%23F4F4F4'/><path d='M115.8 390.6l68 76.6 98.7-38-116.7-63.3-50 24.7z' fill='%23B8BEBE'/><path d='M119.8 256.6l-4 134 50-24.7-46-109.3z' fill='%23F4F4F4'/><path d='M220.5 346.6l62 82.6-116.7-63.3-46-109.3 100.7 90z' fill='%23CFCFCF'/><path d='M183.8 467.2L165.4 480H89l-23.8-62.1 118.6 49.3z' fill='%23B8BEBE'/><path d='M89 480H65.2v-62.1L89 480z' fill='%23BEC3C3'/><path d='M65.2 417.9L0 425.5v-58.2l65.2 50.6z' fill='%23DCDCE2'/><path d='M65.2 417.9L18.5 480H9.4l55.8-62.1z' fill='%23CFCFCF'/><path d='M65.2 417.9L9.4 480H0v-54.5l65.2-7.6z' fill='%23B8BEBE'/><path d='M65.2 244.6l54.6 12-33.3 8-17.3 59.3-4-79.3z' fill='%23F4F4F4'/><path d='M12.5 159.9L0 169v-13.6l12.5 4.5z' fill='%23CFCFCF'/><path d='M69.2 323.9L0 320.5V187.9l12.5-28 56.7 164zm267.3 6l-42.7 28 122-38-79.3 10zm143.5-142v132.6l-64.2-.6 64.2-132zm-171.5-23.3l124.7 36.6-28 10-68.7 118.7-28-165.3z' fill='%23F4F4F4'/><path d='M119.8 256.6l216.7 73.3-42.7 28-174-101.3z' fill='%23BEC3C3'/><path d='M267.8 203.9l68.7 126-216.7-73.3 148-52.7zm-255.3-44l107.3 96.7-54.6-12-52.7-84.7z' fill='%23B8BEBE'/><path d='M195.8 131.2l-76 125.4-107.3-96.7 183.3-28.7z' fill='%23CFCFCF'/><path d='M69.2 63.2l-56.7 96.7 183.3-28.7-126.6-68z' fill='%23BEC3C3'/><path d='M69.2 63.2l-56.7 96.7L0 138.4V69.3l69.2-6.1z' fill='%23DCDCE2'/><path d='M103.2 32.6l-34 30.6-4-63.2H89l14.2 32.6z' fill='%23BEC3C3'/><path d='M165.8 20.6l30 110.6-126.6-68 34-30.6 62.6-12z' fill='%23DCDCE2'/><path d='M119.8 256.6l76-125.4 112.7 33.4-40.7 39.3-148 52.7z' fill='%23F4F4F4'/><path d='M391.8 115.2l41.4 86-124.7-36.6 83.3-49.4zM275.2 7.9l33.3 156.7-112.7-33.4L275.2 7.9z' fill='%23DCDCE2'/><path d='M391.8 115.2l-83.3 49.4L275.2 7.9l9.9-7.9h84.1l22.6 115.2z' fill='%23B8BEBE'/><path d='M480 9.9v15.9l-32.2 47.4-56 42L480 9.9z' fill='%23CFCFCF'/><path d='M480 0v9.9l-88.2 105.3L426.7 0H480z' fill='%23B8BEBE'/><path d='M426.7 0l-34.9 115.2L369.2 0h57.5z' fill='%23DCDCE2'/><path d='M285.1 0l-9.9 7.9 1-7.9h8.9zm-83.8 0l-35.5 20.6-62.6 12L165.4 0h35.9z' fill='%23F4F4F4'/><path d='M18.5 0L0 25.8V9.9L9.4 0h9.1z' fill='%23CFCFCF'/><path d='M165.4 0l-62.2 32.6L89 0h76.4zM9.4 0L0 9.9V0h9.4z' fill='%23B8BEBE'/><path d='M480 69.3v69.1l-32.2-65.2 32.2-3.9z' fill='%23DCDCE2'/><path d='M480 155.4V169l-46.8 32.2-41.4-86 88.2 40.2z' fill='%23CFCFCF'/></svg>&#39;);z-index:0;margin:0;width:100%}
#hero-vvv{cursor: pointer;position:relative;display:inline-block}
.button-home a span.but{font-size:13px;font-weight:700;padding:0;display:inline-block;text-transform:uppercase;text-align:center;position:relative;margin:20px 0 0 0;overflow:hidden;color:#fff}
.button-home a span.but svg,.button-home a span.bus svg{vertical-align:-10px;width:30px;height:18px;margin-left:6px;fill:#f73859}
#hero-xxv{background:#fff;height:auto;padding-bottom:60px;min-height:320px}
.hero-content{position:relative;z-index:2}
#hero-vvv .hero-content h2.hero-title,#hero-vvv .hero-content h2.hero-title,#hero-vvv .hero-content h2.hero-title,#hero-vvv .hero-content h2.hero-title{font-size:38px;padding:0}
#hero-vvv .hero-content h2.hero-title{font-size:230%}
.hero-content h2.hero-title{margin-top:20px;color:#fff;font-size:48px;font-weight:300;max-width:600px;padding:0 20px 31px;text-shadow:none}
.hero-content h2.hero-title span{font-weight:500}
.hero-content h2.hero-title{font-size:38px}
.hero-content p.hero-description{margin-top:10px;margin:0;color:#f9f9f9;font-size:1.3em;line-height:35px;text-align:center;width:58%;font-weight:300}.button-wrapper{display:block;margin:0;padding:10px 0}
.temanetralid_poki {padding:25px 10px}
.temanetralid_palir,.temanetralid_hancik small {font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;
font-size: 12px;font-weight: 400;
letter-spacing: 0;
color: #fff;
line-height: 20px;
margin: 0;
opacity: .6;
text-transform: capitalize}
.hai{font-size:10px;display:inline-block;background:linear-gradient(90deg,rgba(109,71,217,.92),rgba(249,61,102,.92));text-transform:uppercase;color:#fff;line-height:15px;padding:2px 15px;border-radius:20px}
.button-wrapper h1,.button-wrapper h3{font-size:28px;font-weight:700;color:#fff}
.button-wrapper h3{margin-bottom:10px}
.button-wrapper span{font-size:35px;font-weight:700;padding:5px 0;position:relative;margin:0;color:#fff}
.widget-wrap h2.heading-title,.widget-wrap2 h2.heading-title{padding:0;color:rgba(255,255,255,.6);font-weight:400;z-index:1;font-size:16px;margin:0}svg{vertical-align:middle}
.widget-wrap{text-align:center;background:url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png), linear-gradient(135deg, rgba(61,132,68,0.92),rgba(0,91,151,0.92))}
.temanetralid_kucik {display: flex;
align-items: center;
align-content: center;
justify-content: center}
.temanetralid_hancik span {font-size: 16px;
line-height: 20px;
font-weight: 700;display:block;
letter-spacing: .075em;
color: #00dcaf;
padding: 0;
margin: 0}
.temanetralid_hancik {text-align: left;margin: 0 5px}
.widget-wrap,.widget-wrap2{align-items:center;justify-content:center;border-radius:6px;width:32%;float:left;margin:0;margin-top:2%;min-height:350px;padding:30px;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box}
.widget-wrap:hover {background:#fff;border:1px solid rgba(61,132,68,0.92)}
.widget-wrap:hover .button-wrapper h1,.widget-wrap:hover .button-home a span.but {color:rgba(61,132,68,0.92)}
.widget-wrap2:hover {background:#fff;border:1px solid rgba(82,62,232,.92)}
.widget-wrap2:hover .button-wrapper h3,.widget-wrap2:hover .button-home a span.but {color:rgba(82,62,232,.92)}
.widget-wrap2:hover .temanetralid_palir,.widget-wrap:hover .temanetralid_palir,#hero-vvv .coll:hover .temanetralid_hancik small,#hero-vvv .coll2:hover .temanetralid_hancik small,#hero-vvv .coll:hover h2.heading-title,#hero-vvv .coll2:hover h2.heading-title{color: #282828;opacity: .4}
#hero-vvv .coll:hover {background:#fff;border:1px solid rgba(82,62,232,.92)}
#hero-vvv .coll:hover .temanetralid_kucik span {color:rgba(82,62,232,.92)}
#hero-vvv .coll:hover .temanetralid_hancik span,#hero-vvv .coll2:hover .temanetralid_hancik span {color:#00dcaf!important}
#hero-vvv .coll2:hover {background:#fff;border:1px solid rgba(82,62,232,.92)}
#hero-vvv .coll2:hover .temanetralid_kucik span {color:rgba(82,62,232,.92)}
.widget-wrap2{margin-left:1.7%;text-align:center;background:url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png), linear-gradient(135deg, rgba(82,62,232,.92),rgba(109,71,217,.92))}
#hero-vvv .coll, #hero-vvv .coll2 {box-sizing:border-box;-webkit-box-flex:1;margin:2% 0 0 14px;padding:20px 15px 15px;align-items:center;justify-content:center;text-align:center;border-radius:6px;z-index:10;float:right;width:32.555555%;position:relative}
#hero-vvv .coll{background:url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png), linear-gradient(135deg,rgba(82,62,232,.92),rgba(0,220,175,.92))}
#hero-vvv .coll h2.heading-title,#hero-vvv .coll2 h2.heading-title{text-transform:uppercase;letter-spacing:.16em;line-height:.9em;font-size:12px;font-weight:700;opacity:.6;color:#fff}.section-header{text-align:center;width:66.66667%;margin-left:170px}
#hero-vvv .coll2{background:url(https://2.bp.blogspot.com/-Cunhwsdp0mY/XkwPhif1ZJI/AAAAAAAABbQ/QcKYgn8WpuggeTcr90fNXlmGQE0Mpy0JwCK4BGAYYCw/s480/hero-wrapper.png), linear-gradient(50deg,#ff4169,#8b41f6)}
.section-header h3{font-size:1.6em;font-weight:500;color:#555;margin:0;margin-bottom:10px;text-transform:capitalize}
.section-header p{font-size:1.3em;color:#777;display:inline-block;line-height:30px;font-weight:300}
.section-header-main{margin:0 15px;text-align:center;text-transform:uppercase;color:#555}
.section-header-main h4{background:#fff;display:inline-block;z-index:1;position:relative;padding:0 15px}
#hero-vvv svg.wave{position:absolute;bottom:-1px;left:0;overflow:hidden;vertical-align:middle}.a{fill:none}.b{clip-path:url(#a)}.c,.d{fill:var(--body-bg)}.d{opacity:.5;isolation:isolate}
/* Next */
.xnxxFree {font-size: 36px;margin-bottom: 10px;color: #00dcaf;fill: currentColor;height: 1em;}
#netralid-vvv{background:#fafafa;border-bottom:1px solid #e1e8ed;z-index:0;width:100%}
#netralid-vvv{padding:0;position:relative;display:inline-block}
.netralid-content{display:flex;flex-direction:column;height:100%;justify-content:center;text-align:left;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;z-index:2}
.breadcrumbs-text{font:normal 12px Helvetica,Arial,sans-serif;margin-bottom:10px;padding:20px 0 0 0;color:#666;display:inline-block;border-bottom:0}
.breadcrumbs-text a{color:#666}.breadcrumbs-text a:hover{color:#454545}
.fa-chevron-right{text-align:center;width:1em;font-size:10px!important;color:#bababa;margin:0 4px 0 8px;cursor:default}
.container-QW{width:100%;max-width:1030px;margin:0 auto;padding:0}
#netralid-vvv .netralid-content h2.netralid-title,#netralid-vvv .netralid-content h2.netralid-title,#netralid-vvv .netralid-content h2.netralid-title,#netralid-vvv .netralid-content h2.netralid-title{padding:0;font:700 28px Helvetica Neue,Arial,Sans-serif;color:#454545;}
.netralid h2.netralid-title span{font-weight:500}
.netralid-content h2.netralid-title {font-size:38px;}
.netralid-content p.netralid-description{margin-top:10px;margin:0;color:#9eafff;opacity:.8;font-size:1.2em;line-height:25px;text-align:center;width:60%;font-weight:300;}
.temanetralid_table ul {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;float: left;list-style: none;margin:10px 0 0;}
.temanetralid_table li {border-radius: 2px 2px 0 0;float:left;font-size:12px;display:inline;line-height:36px;margin:0 0 -1px 0;height:36px;color:#454545;font-weight:bold;background:white;border-top-color:#e1e8ed;border-left-color:#e1e8ed;border-right-color:#e1e8ed;border-bottom-color:white;border-style:solid;border-width:1px;padding:0 11px;}
.temanetralid_table li a:hover {background: #e0e0e0;color: #454545;}
.items2 {font-weight:400!important;border:0!important;background:transparent!important;}
.items2 a {color:#666666;}
.items2:hover {background:#e0e0e0!important;}
.temanetralid__ {
position: relative}
.temanetralid_wrapper {}
#temanetralid_background {background: #fafafa;
border-bottom: 1px solid #e1e8ed;
padding-top: 1rem;
color: #454545}
.temanetralid_title_header {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
margin: 1em 0;
}
.temanetralid_title_slot {-webkit-flex: 1 0;
-ms-flex: 1 0;
flex: 1 0}
nav.breadcrums {-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin: 0 0 8px 0;overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis}
.breadcrums, .breadcrums a {
position: relative;
color: #666666;
font-size: 12px;
line-height: 1;
text-decoration: none;
}
.c-star:before {content:&#39;&#39;;width:17px;height:17px;vertical-align:middle;display:inline-block;margin:-2.5px;background:url(&quot;data:image/svg+xml,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z' fill='%23fec42d'/></svg>&quot;) no-repeat}
.netralid-title {font-size: 28px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;
line-height: 1.2;margin:0;
padding: 0}
.temanetralid_raw {
max-width: 1004px;
padding-left: 0.625rem;
padding-right: 0.625rem;
margin-left: auto;
margin-right: auto}
.temanetralid_raw:after {
content: &quot;&quot;;
display: table;
clear: both;
}
.xnxx-star:before {content:&#39;&#39;;width:16px;height:16px;vertical-align:middle;display:inline-block;margin:-2.5px;background:url(&quot;data:image/svg+xml,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M15,6.42527246 C15,6.55455774 14.9269858,6.6960766 14.7809847,6.84853675 L11.7271493,9.97160064 L12.4504175,14.3824632 C12.4559497,14.4236438 12.459017,14.4828014 12.459017,14.5593617 C12.459017,14.6828748 12.4295758,14.7870899 12.370666,14.8719783 C12.3117835,14.9575271 12.2258973,15 12.1142398,15 C12.0074845,15 11.8952245,14.9646203 11.7774322,14.8944926 L7.99967135,12.8122586 L4.22254044,14.8944926 C4.09861343,14.9646203 3.98695588,15 3.88573284,15 C3.76794056,15 3.67961689,14.9575558 3.62070706,14.8719783 C3.56182461,14.7870612 3.532356,14.6828461 3.532356,14.5593617 C3.532356,14.523982 3.53788821,14.4647957 3.54892525,14.3824632 L4.27282331,9.97160064 L1.21041574,6.84853675 C1.06991948,6.68964393 1,6.54878557 1,6.42527246 C1,6.20785377 1.15703812,6.07210709 1.47114173,6.01938213 L5.69487547,5.37548281 L7.58743945,1.3615221 C7.6941947,1.12029677 7.8315962,1 7.99969874,1 C8.1684038,1 8.30520278,1.12029677 8.41195803,1.3615221 L10.3051245,5.37548281 L14.5288583,6.01938213 C14.8423594,6.07210709 15,6.20785377 15,6.42527246 L15,6.42527246 Z' fill='%23fec42d'/></svg>&quot;) no-repeat}
/* ITEM BARNER */
.headBodyp {height:42px;margin:auto auto}
.headPromo {display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 42px;
max-width:100%;background:linear-gradient(to right, #222323, #3b423f);
padding:0;
margin: 0 auto;}
.headPromo-text {color:#ddd;cursor: pointer;font-size:13px}
.headPromo-text:hover, .getNow:hover {text-decoration: underline!important;}
.headPromo-mobile {display:none;}
.headPromo a.getNow {color:#fff!important;position: relative;
background-color:#1919cf;
padding: 5px 30px;
margin: 0 15px;
font-weight:700;
border-radius: 4px;
text-decoration: none;
display: block;
text-align: center;}
.close {width: 20px;
height: 42px;
background: none;
font-size: 18px;
border: none;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
padding: 0;
position: absolute;
line-height: 42px;
cursor: pointer;
outline: inherit;
padding: 0 16px;
color:#aaa;opacity:0.7;
text-decoration: none;
-webkit-transition: all 100ms ease;
-moz-transition: all 100ms ease;
-o-transition: all 100ms ease;
transition: all 100ms ease;
right: 0;
top: 0;
z-index: 2;}
.com {font-weight: 500;
margin: 0 0 0 -5px;
letter-spacing: -1px;
color: #7aa93c}
/* Wave Animations */
#area .wave-animation{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);}
/* Wave Animations */
.wave-animation{display:block;width:100%;height:5em;max-height:100vh;margin:0;position:absolute;right:0;left:0}
.wave-bg &gt; use {-webkit-animation: move-forever 20s linear infinite;animation: move-forever 20s linear infinite;}
.wave-bg &gt; use:nth-child(1) {animation-delay: -2s;}.wave-bg &gt; use:nth-child(2) {animation-delay: -2s; animation-duration: 10s;}.wave-bg &gt; use:nth-child(3) {animation-delay: -4s; animation-duration: 8s;}@-webkit-keyframes move-forever{0%{transform: translate(-90px, 0%);}100%{transform: translate(85px, 0%)}}@keyframes move-forever{0%{transform: translate(-90px, 0%);}100%{transform: translate(85px, 0%)}}
/* Features Quality */
.postinfo {display: grid;grid-template-columns:1fr 1fr 1fr;grid-gap:40px;}
.idnetralid-wrap{overflow:hidden;padding:70px 0 70px 0;margin:auto;}
.netralid-wrapperwrap{position:relative;margin:auto;clear:both;max-width:970px}
.idnetralid-wrap h1.heading-title{color:#fff;font-size:25px;font-weight:600;text-align:center}
.idnetralid-wrap p {color:rgba(255,255,255,.6);font-size:14px;font-weight:400;text-align:center}
.idnetralid-wrap .postinfo .icon{width:50px;height:50px;border-radius:50%;padding:.4em;margin-bottom:15px;display:inline-block;line-height:50px;font-size:25px;text-align:center;background-color:#7aa93c;cursor:pointer;transition:all .3s}
.idnetralid-wrap .infofeats{text-align:center;padding:10px;margin:auto}
.idnetralid-wrap .infofeats h2{color:#fff;font-size:16px;font-weight:600;margin:0}
.idnetralid-wrap .infofeats h3{color:rgba(255,255,255,.6);font-size:14px;font-weight:400;line-height:1.5;margin:10px auto 0 auto}
.icon1 svg,.icon2 svg,.icon3 svg,.icon4 svg{width:30px;height:30px;}
.icon1 path, .icon2 path, .icon3 path {fill:#fff}
.idnetralid-wrap .postinfo .icon:hover.icon1 path{background:#54ceff;fill:#fff}
.idnetralid-wrap .postinfo .icon:hover.icon2 path{background:#84ce65;fill:#fff}
.idnetralid-wrap .postinfo .icon:hover.icon3 path{background:#8089ff;fill:#fff}
.idnetralid-wrap .postinfo .icon:hover.icon1 svg, .idnetralid-wrap .postinfo .icon:hover.icon2 svg, .idnetralid-wrap .postinfo .icon:hover.icon3 svg {backface-visibility:hidden;animation:heart2 .5s ease}
@media screen and (max-width: 600px) {.search-icon{display:none;}
.widget-wrap2,#hero-vvv .coll,#hero-vvv .coll2{display:none;}
.widget-wrap{width: 100%}
#hero-wrapper{padding:5px 0 40px}
.container{padding:0 10px}
.label_all{border-radius: 6px;width:50%}}
